@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

body {
  @apply antialiased;
}

/* Enable drag and drop */
[data-dnd-draggable] {
  touch-action: none;
}

[data-dnd-droppable] {
  touch-action: none;
}
